<a href="https://colab.research.google.com/github/jeasungkim/python/blob/main/py_bban.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CH1 **파이썬 문법**

## 자료형
#### 숫자형
* 정수 : 123,-20, 0  
* 실수 : 123.45, -4321.5, 6.08e9  
* 8잔수 : 0o456, 0o123 \
* 16진수 : 0xFF, 0x0D, 0x0A

#### 변수
* 문자 또는 밑줄로 시작(beta,_kim)
* 대소문자를 구분한다.(sum, Sum SUM)
* 영문자, 숫자, 밑줄(A~z,0~9,_)
* 파이썬 키워드는 사용 불가

In [ ]:
a = 10
b = 20
c = a + b
print(c)

30

In [ ]:
a = 10
b = 2
c = a/b #나눗셈
d = a-b
e = a*b
f = a//b # 몪
g = a%b #나머지
h = a**b #제곱
print(c,d,e,f,g,h)
# 시험 나옴

5.0 8 20 5 0 100

#### 문자열
1. 큰 따옴표 : "Hello World! it\'s"
2. 작은 따옴표 : '대한민국'
3. 큰따옴표 3 : """hello!"""
4. 작은 따옴표 3 :'''Life is too short. You need pyhton.'''

In [ ]:
myName = "jeasung Kim" # 중간에 대문자 낙타표기법 (카멜)
my_name = "김재성" # 언더바 스네이크표기법
_my_name = "korea"
MYNAME = "God is love" # 앞에대문자 파스칼표기법
my2name = "12345"
# 2myname = "123"  my-name = "231" my name = "231" 안됨 시험출제
myStr = '123' #글자 stf
myNum = 123 # int

print(myStr, myNum)
print(type(myStr))
print(type(myNum))

123 123
<class 'str'>
<class 'int'>

#### 여러개 변수 할당

In [ ]:
x,y,z = "포도", "딸기", "수박"
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
a = b = c = "오렌지"
print(a)
print(b)
print(c)

오렌지
오렌지
오렌지

In [ ]:
fruits = ["포도", "딸기", "수박"]
x,y,z = fruits
print(x)
print(y)
print(z)

포도
딸기
수박

In [ ]:
x = "Life"
y = "is"
z = "beautiful"
print(x,y,z) # ,는 띄어쓰기
print(x+y+z)

Life is beautiful
Lifeisbeautiful

In [ ]:
a = 1
b = 2
c = 3
print(a,b,c)
print(a+b+c)

1 2 3
6

#### 데이터 유형 
+ 텍스트
+ 숫자
+ 불(bool)

In [ ]:
a = 100
b = 200
good = a + b
print(a, '+', b, '=', good)
good = a - b
print(a, '-', b, '=', good)
good = a * b
print(a, '*', b, '=', good)
good = a / b
print(a, '/', b, '=', good)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

#### input() 함수 이용 계산기

In [ ]:
a = int(input("첫번째 숫자를 입력해 주세요 :"))
b = int(input("두번째 숫자를 입력해 주세요 :"))
result = a + b
print(a, '+', b, '=', result)
result = a - b
print(a, '-', b, '=', result)
result = a * b
print(a, '*', b, '=', result)
result = a / b
print(a, '/', b, '=', result)
result = a ** b
print(a, '**', b, '=', result)
result = a // b
print(a, '//', b, '=', result)
result = a % b
print(a, '%', b, '=', result)

첫번째 숫자를 입력해 주세요 :9
두번째 숫자를 입력해 주세요 :4
9 + 4 = 13
9 - 4 = 5
9 * 4 = 36
9 / 4 = 2.25
9 ** 4 = 6561
9 // 4 = 2
9 % 4 = 1

In [ ]:
num1 = input("숫자입력1 : ")
num2 = input("숫자입력2 : ")
result = num1 + num2
print(type(num1))
print(num1, '+', num2, '=', result)

숫자입력1 : 1
숫자입력2 : 2
<class 'str'>
1 + 2 = 12

quiz 전화번호, 이름, 무게를 입력받아 출력 :
입력한 내용은 이름 "oo", 전화번호 "oo"입니다.
무게는 입력한 g수 x 10원 = 산출금액 출력

In [ ]:
num1 = input("전화번호 : ")
num2 = input("이름 : ")
num3 = int(input("무게 : "))
a = 10
result = num3 * 10
print("입력한 내용은 이름 : ", num2,"입니다.")
print("전화번호 : ", num1 , "입니다.")
print("무게는 ",num3, "* 10 =", result , "입니다.")

전화번호 : 01029851582
이름 : 김재성
무게 : 30
입력한 내용은 이름 :  김재성 입니다.
전화번호 :  01029851582 입니다.
무게는  30 * 10 = 300 입니다.

# 2Week

# print() 서식 출력

In [6]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%s" % "대한민국")
print("%6s" % "대한민국")

123
  123
00123
123.450000
  123.5
123.450
대한민국
  대한민국

#### Format 함수 : 순서 지정 가능

In [9]:
print("{0:d} {1:5d} {2:05d}" .format(123,456,789))

123   456 00789

### 서식 출력

In [10]:
print("\n줄바꿈\n연습입니다.")

줄바꿈
연습입니다.

In [11]:
print("\t탭키\t연습")

	탭키	연습

In [2]:
print("글자가 \"강조\"되는 효과1") #\다음", ' 을 넣어서 출력이 가능
print("글자가 \'강조\'되는 효과1")
print("역슬래시 3개 출력 \\\\\\") #\다음 \를 넣음으로서 3개
print(r"\n \t \" \\ \'를 그대로 출력") #그대로 출력함

글자가 "강조"되는 효과1
글자가 '강조'되는 효과1
역슬래시 3개 출력 \\\
\n \t \" \\ \'를 그대로 출력

#### 관계 연산자

In [3]:
a,b = 10, 20
print(a==b, a!=b, a>b, a<b, a>=b, a<=b)

False True False True False True

#### 논리 연산자

In [6]:
a = 99
print((a>100) and (a<200))
print((a>100) or (a<200))
print(not(a==100))

False
True
True

In [7]:
if(123): #if구문 뒤엔 :
  print("참이면 보입니다.")
if(0):
  print("거짓이면 안보입니다.")

참이면 보입니다.

### 퀴즈2 숫자 입력을 받아 동전으로 바꿔주는 프로그램( 500원, 100원, 50원, 10원)

In [17]:
bill = int(input(" 바꿀돈은?  "))
c500 = bill // 500
a = bill % 500
c100 = a // 100
b = a % 100
c50 = b // 50
c = b % 50
c10 = c // 10
d = c % 10
print("bill :", bill, "\n c500 :", c500, "\n c100 :", c100, "\n c50 :", c50, "\n c10 :", c10, "\n 나머지 :", d)

 바꿀돈은?  10123
bill : 10123
 c500 : 20
 c100 : 1
 c50 : 0
 c10 : 2
 나머지 : 3

In [15]:
bill, c500, c100, c50, c10 = 0,0,0,0,0
bill = int(input(" 바꿀돈은?  "))

c500 = bill // 500
bill %= 500
c100 = bill // 100
bill %= 100
c50 = bill // 50
bill %= 50
c10 = bill // 10
bill %= 10

print("500원짜리 : %d개" % c500)
print("100원짜리 : %d개" % c100)
print("50원짜리 : %d개" % c50)
print("10원짜리 : %d개" % c10)
print("잔돈 : %d원" % bill)

 바꿀돈은?  10123
500원짜리 : 20개
100원짜리 : 1개
50원짜리 : 0개
10원짜리 : 2개
잔돈 : 3원

## 조건문

In [18]:
a = 200
if(a<100): # :필수 else 뒤에도 필수
  print("100보다 작음")
  print("거짓이면 이문장은 보이지 않음")
print("프로그램 끝") #뒤로 붙여야 실행됨

프로그램 끝

In [20]:
a = 200
if(a<100):
  print("100보다 작음")
else :
  print("100보다 크다")
print("프로그램 끝")

100보다 크다
프로그램 끝

In [24]:
a = int(input("정수를 입력하세요 : "))
if(a%2==0):
  print("짝수")
else : 
  print("홀수")

정수를 입력하세요 : 32
짝수

In [29]:
a = int(input("정수를 입력하세요 : "))
if(a > 50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  print("a<50")

정수를 입력하세요 : 4
a<50

In [34]:
fruit = ['사과', '배', '감', '포도']
fruit .append('딸기')
if '딸기' not in fruit :
  print("딸기가 없습니다.")
else:
  print("딸기가 있습니다.")
print(fruit)

딸기가 있습니다.
['사과', '배', '감', '포도', '딸기']

In [39]:
import random

number = []
for num in range(0,7):
  number .append(random.randrange(1,46))
print("생성된 리스트", number)

생성된 리스트 [19, 45, 10, 1, 39, 34, 2]

### 반복문

In [45]:
for i in range(0,3,1): # range안에 시작값, 끝값+1, 증가값 (0부터 3까지 1씩 증가)
  print("%d 안녕하세요" % i) # 반복 내용
  print(i)
print("프로그램 종료^^*")

0 안녕하세요
0
1 안녕하세요
1
2 안녕하세요
2
프로그램 종료^^*

In [50]:
for i in range(1,9,1):
  print("%d" % i, end=" ") # 각 글자마다 더 넣음
print("")
for i in range(1,9,1):
  print("%d" % i, end=",")

1 2 3 4 5 6 7 8
1,2,3,4,5,6,7,8,

In [55]:
sum=0 # 변수 잡아줘야함
for i in range(1,11,1):
  sum = sum + i
print("1~10까지 합계 :  %d " % sum )

1~10까지 합계 :  55

#### Qui3 : 숫자 입력을 받아 1부터 입력된 숫자까지의 합을 출력하시오.

In [61]:
sum,num=0,0
num = int(input("정수를 입력하세요 : "))
for i in range(1,num+1,1):
  sum = sum + i
print("1~n까지 합계 :  %d " % sum)

정수를 입력하세요 : 10
1~n까지 합계 :  55

### 중첩 for문

In [65]:
i,j,k=0,0,0
k = int(input("구구단 단수 입력 : "))
for i in range(1,10,1):
  print("%d X %d = %2d" % (k,i,k*i))
  print("")

구구단 단수 입력 : 2
2 X 1 =  2

2 X 2 =  4

2 X 3 =  6

2 X 4 =  8

2 X 5 = 10

2 X 6 = 12

2 X 7 = 14

2 X 8 = 16

2 X 9 = 18

In [105]:
i,j=0,0
for i in range(1,10,1):
  for j in range(2,6,1):
    print("%d X %d = %2d" % (j,i,i*j),end='\t')
  print("")
print()
h,k=0,0
for h in range(1,10,1):
  for k in range(6,10,1):
    print("%d X %d = %2d" % (h,k,h*k),end='\t')
  print("")

2 X 1 =  2	3 X 1 =  3	4 X 1 =  4	5 X 1 =  5
2 X 2 =  4	3 X 2 =  6	4 X 2 =  8	5 X 2 = 10
2 X 3 =  6	3 X 3 =  9	4 X 3 = 12	5 X 3 = 15
2 X 4 =  8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45

1 X 6 =  6	1 X 7 =  7	1 X 8 =  8	1 X 9 =  9
2 X 6 = 12	2 X 7 = 14	2 X 8 = 16	2 X 9 = 18
3 X 6 = 18	3 X 7 = 21	3 X 8 = 24	3 X 9 = 27
4 X 6 = 24	4 X 7 = 28	4 X 8 = 32	4 X 9 = 36
5 X 6 = 30	5 X 7 = 35	5 X 8 = 40	5 X 9 = 45
6 X 6 = 36	6 X 7 = 42	6 X 8 = 48	6 X 9 = 54
7 X 6 = 42	7 X 7 = 49	7 X 8 = 56	7 X 9 = 63
8 X 6 = 48	8 X 7 = 56	8 X 8 = 64	8 X 9 = 72
9 X 6 = 54	9 X 7 = 63	9 X 8 = 72	9 X 9 = 81